p {
    margin: 0;
}

.mat-mdc-header-row .mat-mdc-header-cell, .mat-mdc-footer-row .mat-mdc-footer-cell{
    text-align: center
}

.mdc-card .mat-mdc-table .mdc-data-table__header-row {
    height: 70px;
}

.mat-mdc-cell .mdc-button{
    height: 20px;
    width: 20px;
    padding: 0;
    min-width: 20px;
}

.quantity-cell{
    width: 110px;
    display: flex;
    justify-content: space-around;
}