<mat-toolbar color="primary" class="text-white">
    <nav *ngIf="cartData$ | async as cartData" class="container justify-between">
        <a routerLink="">E-Shop</a>
        <div class="flex items-center gap-10">
            <a routerLink="" routerLinkActive="toolbar__active" 
            [routerLinkActiveOptions]="{exact: true}">
                Home
            </a>
            <button mat-icon-button [matMenuTriggerFor]="cart">
                <mat-icon class="cursor-pointer" aria-hidden="false" 
                aria-label="Cart" fontIcon="shopping_cart" matBadgeOverlap="false" 
                matBadgeColor="accent" [matBadge]="cartData.amountItems"></mat-icon>
            </button>
        </div>
        <mat-menu xPosition="before" #cart class="top-2 left-0 right-0">
            <div class="p-3 divide-y divide-solid">
                <div class="flex justify-between p-3">
                    <p *ngIf="cartData.amountItems" >{{cartData.amountItems}} item{{cartData.amountItems > 1 ? 's' : ''}}</p>
                    <a routerLink="cart" class="font-bold">View Cart</a>
                </div>
                <div *ngFor="let item of cartData.cartItems" class="flex justify-between p-2 gap-10">
                    {{item.title}} x {{item.quantity}}
                    <span class="font-bold">
                        {{ item.quantity * item.price | currency}}
                    </span>
                </div>
                <div class="p-2 flex  justify-between font-bold gap-8">
                    Total: 
                    <span>
                        {{ cartData.totalPrice | currency}}
                    </span>
                </div>
            </div>
        </mat-menu>
    </nav>
</mat-toolbar>