<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
    <mat-drawer mode="side" opened>  
        <app-filtering (sendInfo)="updateProducts($event)"></app-filtering>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-sorting-panel (updateAmount)="changeAmount($event)" (updateSorting)="changeSorting($event)"></app-sorting-panel>
        <div class="home__card-wrapper mt-6">
            <mat-card class="home__card p-6" *ngFor="let product of products$ | async">
                <div class="home__card-image">
                    <img class="home__card-image" mat-card-image [src]="product.image">
                </div>
                <mat-card-header class="home__card-title">{{product.title}}</mat-card-header>
                <p class="home__card-rating">
                    <mat-icon color="accent" class="cursor-pointer" aria-hidden="false" 
                    aria-label="Add to cart" fontIcon="star"></mat-icon>
                    {{product.rating.rate}} by {{product.rating.count}}
                </p>
                <mat-card-actions class="home__card-panel">
                    <p class="home__card-price">
                        {{product.price | currency}}
                    </p>
                    <button mat-icon-button>
                        <mat-icon class="cursor-pointer" aria-hidden="false" 
                        aria-label="Add to cart" fontIcon="add_shopping_cart"></mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container> 