.home{
    &__card-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }

    &__card-title{
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 14px;
    }

    &__card{
        flex-basis: 27%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        &-panel{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            margin-top: auto;
            font-size: 25px;
            border-top: 1px solid black;
        }

        &-price{
            color: red;
            margin-bottom: 0;
        }

        &-rating{
            display: flex;
            align-items: center;
            margin-bottom: 14px;
        }
    }

    &__card-image{
        height: 200px;
        margin-bottom: 60px;

        img{  
            object-fit: contain;
        }
    } 
}