<mat-drawer-container [autosize]="true" class="min-h-full max-w-7xl mx-auto border-x">
    <mat-drawer mode="side" opened>  
        <app-filtering (sendInfo)="onFiltersUpdate($event)"></app-filtering>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <app-sorting-panel (updateAmount)="onAmountChange($event)" (updateSorting)="onSortingChange($event)"></app-sorting-panel>
        <div *ngIf="displayProducts$ | async as products" class="home__card-wrapper mt-6">
            <app-product-card class="home__card" *ngFor="let product of products" 
            [item]="product" (toAddProduct)="toAddProductToCart($event)"></app-product-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container> 